<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Berth window</title>

    <link href="assets/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/app.css" rel="stylesheet" type="text/css">

    <script src="assets/js/jquery-2.2.0.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/moment.js"></script>

    <script src="assets/js/data.js"></script>
    <script src="assets/js/app.js"></script>

</head>
<body ng-app="ngApp" ng-controller="IndexController" onBlur="closeWindow()">
<div id="content">
    <a href="javascript:window.opener=self;window.close();">close</a>
    <div id="col1">
        <div id="col1-sub1">

        </div>
        <div id="col1-sub2">
            <table id="table-time-left">
                <colgroup>
                    <col width="60px">
                    <col width="30px">
                </colgroup>
                <tr ng-repeat="item in timeData track by $index">
                    <td ng-style="tableTimes[item.idx].style">{{item.title}}</td>
                    <td>
                        <div ng-repeat="row in item.value track by $index" ng-style="tableTimes[item.idx].styleChildLeft[$index]">
                            <span>{{row}}</span>
                            <div style="float: right; height: 100%;width: 5px;">
                                <div style="width: 5px; height: 4px;border-bottom: 1px solid #ABABAB"></div>
                                <div style="width: 5px; height: 4px; border-bottom: 1px solid #ABABAB"></div>
                                <div style="width: 5px; height: 4px; border-bottom: 1px solid #ABABAB"></div>
                                <div style="width: 5px; height: 4px;border-bottom: 1px solid #ABABAB"></div>
                                <div style="width: 5px; height: 4px;border-bottom: 1px solid #ABABAB"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="col2">
        <div id="col2-sub1" ng-style="ContentStyle.style">

            <table class="table-header" ng-style="ContentStyle.style">
                <tr>
                    <td id="berth-group">
                        <div ng-repeat="berth in BerthData track by $index" ng-style="BerthStyle.style_group[$index]">{{berth.group}}</div>
                    </td>
                </tr>
            </table>

            <table class="table-header" ng-style="ContentStyle.style">
                <tr>
                    <td ng-repeat="berth1 in BerthData track by $index" ng-style="BerthStyle.style_content[$index]">{{berth1.name}}</td>
                </tr>
            </table>

            <table id="table-bitt-number" ng-style="ContentStyle.style">
                <tr>
                    <td>
                        <div ng-repeat="st in BerthStyle.style_position track by $index" ng-style="st.style">{{st.value}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div ng-repeat="bitt in BerthStyle.style_bitt.data_style track by $index" ng-style="bitt.style">{{bitt.name}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div ng-repeat="rl in BerthStyle.style_bitt.data_style track by $index" ng-style="rl.style_rule"></div>
                    </td>
                </tr>
            </table>

        </div>
        <div id="col2-sub2" ng-style="mapStyle.style">
            <div id="tooltip" class="tooltip">
                <a href="javascript:;" id="btn_close_tooltip">
                    <span>x</span>
                </a>
            </div>

            <div id="vessel-content"ng-style="mapStyle.style">
                <!--<div style="width: 300px;height: 900px;position: absolute" id="berth-1"></div>
                <div style="width: 300px;height: 900px;position: absolute;left: 300px;" id="berth-2"></div>-->
            </div>
            <table id="table-ship" ng-style="mapStyle.style">
                <tr>
                    <td>
                            <div ng-repeat="item in mapStyles track by $index" ng-style="item.childStyle">
                                  <div style="width: 100%; height: 4px;border-bottom: 1px dotted #ABABAB"></div>
                                  <div style="width: 100%; height: 4px;border-bottom: 1px dotted #ABABAB"></div>
                                  <div style="width: 100%; height: 4px;border-bottom: 1px dotted #ABABAB"></div>
                                  <div style="width: 100%; height: 4px;border-bottom: 1px dotted #ABABAB"></div>
                                  <div style="width: 100%; height: 4px;border-bottom: 1px dotted #ABABAB"></div>
                            </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div id="col3" ng-style="StyleColGang">
        <div id="col3-sub1" class="has-gang">
            <div gang-color="blueviolet" style="background: blueviolet" class="gang-horizontal">Gang 1</div>
            <div gang-color="aqua" style="background: aqua" class="gang-horizontal">Gang 2</div>
            <div gang-color="yellow" style="background: yellow" class="gang-horizontal">Gang 3</div>
        </div>
        <div id="col3-sub2" ng-style="mapStyle.height" >
        </div>

        <div id="col3-sub3">
            <table id="table-time-right">
                <colgroup>
                    <col width="30px">
                    <col width="30px">
                    <col width="30px">
                </colgroup>
                <tr ng-repeat="item in timeData track by $index">
                    <td ng-style="tableTimes[item.idx].styleLeft">
                        <div ng-repeat="r1 in item.value track by $index" ng-style="tableTimes[item.idx].styleChildRigth1[$index]">
                            <span>{{r1}}</span>
                            <div style="float: left; height: 100%;width: 5px;">
                                <div style="width: 5px; height: 4px;border-bottom: 1px solid #ABABAB"></div>
                                <div style="width: 5px; height: 4px; border-bottom: 1px solid #ABABAB"></div>
                                <div style="width: 5px; height: 4px; border-bottom: 1px solid #ABABAB"></div>
                                <div style="width: 5px; height: 4px;border-bottom: 1px solid #ABABAB"></div>
                                <div style="width: 5px; height: 4px;border-bottom: 1px solid #ABABAB"></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="r2 in DataNumberGangForShowData[$index].value track by $index" ng-style="tableTimes[item.idx].styleChildRigth2[$index]">
                              <span>{{r2}}</span>
                        </div>
                    </td>
                    <td style="text-align: center;vertical-align: middle">{{DataMaxNumberGang[$index].value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function closeWindow()
    {
        opener.window.close();
    }
</script>

</html>